body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code, input[type="text"], input[type="submit"] {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
}

table thead{
  background-color: rgba(255, 255, 255, 0.644);
}

td, th{
  border: 2px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd){
  background-color: rgba(255, 255, 255, 0.160);
}

.checkbox-table{
  width: 10%;
  text-align: center;
}

input[type="checkbox"]{
  vertical-align: bottom;
  cursor: pointer;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  width: 2em;
  height: 2em;
  appearance: none;
  border: none;
}

input[type="checkbox"]:checked{
  background-color: rgb(48, 166, 25);
}

input[type="text"], input[type="submit"] {
  vertical-align: bottom;
  background-color: rgb(255, 255, 255);
  padding: 6px 14px;
}

input[type="submit"]{
  background-color: rgb(0, 213, 255);
  color: white;
  cursor: pointer;
  border-radius: 6px;
  font-size: medium;
  margin-left: 10px;
}

input[type="submit"]:hover{
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
}

input[type="submit"]:active{
  background-color: rgb(170, 170, 170);
  color: black;
}

form{
  padding: 1em;
  margin: 1em;
  border: 2px solid rgb(15, 195, 219);
}

inline{
  margin: 0 10px;
}